.header {
    width: 100%;
    cursor: pointer;
    position: absolute;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    background: black;
    background-size: 400% 400%;
 
    font-family: "Montserrat", sans-serif;
    font-size: 10vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px #ffffff;
    color: white;
    z-index: 100;
  }
  
.searchIC{

    display: flex;
    justify-content:flex-end;
    border-radius: 20px;
    margin-top:2rem;
    height: 55px;
}

.img{

  display: flex;
  height: 100px;
  width: 100px;
  margin-right:5rem ;
  background: black;
  justify-content: flex-start;
  margin-left: -5rem;
}